<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Safe Vending</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/landing-page.css">
</head>
<body style="background-color: #fff59d">

<div class="container center-vertically">
    <img class="mx-auto d-block" src="https://img.icons8.com/color/350/000000/vending-machine.png"/>
    <div class="p-2 border rounded-blob" style="background-color: #c5cae9">
        <div class="border rounded-blob" style="background-color: #ffffff">
            <h1 class="text-center">
                Welcome to the vending <br>
                machine app
            </h1>
        </div>
        <button class="mt-2 btn btn-danger mx-auto d-block baloo-font" onclick="location.href='/vending'">
            Place your order
        </button>

    </div>
</div>
<form class="payment-form" method="POST" action="https://merchant.com/successUrl">
    <script>
        window.CKOConfig = {
            publicKey: 'pk_test_6ff46046-30af-41d9-bf58-929022d2cd14',
            customerEmail: 'user@email.com',
            value: 100,
            currency: 'GBP',
            paymentMode: 'cards',
            cardFormMode: 'cardTokenisation',
            cardTokenised: function(event) {
                console.log(event.data.cardToken);
            }
        };
    </script>
    <script async src="https://cdn.checkout.com/sandbox/js/checkout.js"></script>
</form>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
