<!doctype html>
<html>
<head>
    <title>Sign up page</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/landing-page.css">

</head>
<body style = "background-color: white">
<div class="center-vertically container-fluid">
<div class="col-sm-6 col-sm-offset-3 sign rounded-blob " style="background-color: #c5cae9">

    <h1 class="container my-5 text-center"><span class="rounded-blob px-5 text-white open-font" style="background-color:#37474f" >Sign up page</span> </h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label class="open-font" style="font-size: 17px">Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label class="open-font" style="font-size: 17px">Password</label>
            <input type="password" class="form-control" name="password">
        </div>


            <button type="submit" class="rounded-gei container text-center mt-4 mb-4 open-font" style=" background-color:beige">
                <p style="font-size: 20px"> Sign up</p>
            </button>

    </form>

    <hr>

    <div class= "container text-center mb-5">
        <p style="font-size: 15px">Need an account? <a href="/signup">Signup</a></p>
        <p style="font-size: 15px">Or go <a href="/">home</a>.</p>
    </div>

</div>
</div>
<script>
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
</script>
</body>
</html>
