* {
  box-sizing: border-box;
}

body {
  margin:5%;
  font-family: 'Open Sans Condensed', sans-serif;
}

header h2{
  font-size: 1em;
  font-weight: lighter;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.item{
  height: 230px;
  text-align: center;
}

.item h2{
  color: white;
  background-color: #37474f;
  margin: 0 20% 0 20%;
  border-radius: 3px;
}

img{
  width: 80%;
  height: 80%;
  object-fit: scale-down;
}

/***************************************
Pay Here Section
*****************************************/
.pay{
  background-color: #37474f;
  color: white;
  text-align: center;
  font-size:1.3em;
}

#about{
  display: none;
  padding: 5px 15px 0 15px;
  font-size: .9em;
}

.choice{
}
#selected{
  background-color: white;
  width: 90%;
  min-height: 200px;
}

.pay-button {
  background-color: #c5cae9;
  color:#37474f;
  border: none;
  font-weight: bold;
  font-size: 1em;
  border-radius: 3px;
}
.login-button{
  background-color: darkorange;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1em;
  border-radius: 3px;

}

.count{
  display: none;
}